@model LoginViewModel

@{
	ViewData["Title"] = "Admin panel - LogIn";
}

<div class="row justify-content-center mt-5 p-4">
        <div class="card">
            <div class="card-header">Sign In to admin panel</div>
        
            <div class="card-body">
                <form asp-controller="Auth" asp-action="Login" method="POST">
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label">Username</label>
                        <div class="col-sm-8">
                            <input class="form-control" asp-for="UserName" required/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label">Password</label>
                        <div class="col-sm-8">
                            <input class="form-control" asp-for="Password" type="password" required />
                        </div>
                    </div>
                    <div class="row my-5 justify-content-center">
                        <input type="submit" class="btn btn-sm btn__rect col-6" value="Sign In" />
                    </div>
                </form>
            </div>
        </div>
</div>