@{

}

<div class="row justify-content-center mt-5 mb-5">
    <div class="col-8 mb-5">
        <h1>Zapraszam do <span class="mark-block">kontaktu</span></h1>
    </div>
    <div class="col-8 mt-5">
        <span>Jeśli jesteś zainteresowany współpracą lub chciałbyś porozmawiać to zapraszam do kontaktu.</span>
    </div>
</div>
<div class="row justify-content-center contact__details">
    <div class="col-3 text-right">
        <i class="fas fa-phone-square"></i>
    </div>
    <div class="col-5 my-auto">
        <span class="mark-block2">534 549 114</span><br>
    </div>
</div>
<div class="row justify-content-center contact__details">
    <div class="col-3 text-right">
        <i class="fas fa-envelope"></i>
    </div>
    <div class="col-5 my-auto">
        <span class="mark-block2">tomek.klag@gmail.com</span><br>
    </div>
</div>
<div class="row justify-content-center contact__details">
    <div class="col-3 text-right">
        <i class="fab fa-facebook-messenger"></i>
    </div>
    <div class="col-5 my-auto">
        <span class="mark-block2">/tomasz.klag.9</span>
    </div>
</div>