<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title</title>
</head>

<body>
    <div>
        <a asp-controller="Home" asp-action="Index">Home</a>
        <a asp-controller="Portfolio" asp-action="Index">Portfolio</a>
        <a asp-controller="Portfolio" asp-action="Edit">Create new portfolio project</a>

        @if (User.Identity.IsAuthenticated)
        {
            <a asp-controller="Auth" asp-action="Logout">Logout</a>
        }
        else
        {
            <a asp-controller="Auth" asp-action="Login">Sign In</a>
        }
        <a asp-controller="Contact" asp-action="Index">Contact</a>
    </div>
    <div>
        @RenderBody()
    </div>
</body>
</html>