@{
	ViewData["Title"] = "Tomasz Klag";
}

<div class="mt-5">
    
        <div class="row" id="block1">
        <div class="col-md-5 col-lg-6" id="block1__photo">
            <img src="~/content/static/Home/cv_image_1.2.jpg" alt="Tomasz Klag">
        </div> <!-- /.col-md-5 .col-lg-6 #block1__photo -->
        <div class="col-md-7 col-lg-6" id="block1__text">
            <div class="row">
            <div class="col-md-1 col-lg-3 col-xl-2">
            </div> <!-- /.col-lg-3 col-xl-2 -->
            <div class="col-md-11 col-lg-9 col-xl-10">
                <h1>Tomasz<br>Klag</h1>
                <h2>Tutaj <span class="mark-block">jakieś kilka</span> słów&nbsp;o mnie.</h2>
                <p>Mmimo iż z wykształcenia jestem inżynierem budownictwa, to moje zainteresowania zmierzają w stronę IT. Jestem samoukiem i dzięki nieograniczonym zasobom internetu </p>
                <p>Homero intellegam no mei. Cu ius impedit eligendi persecuti. Eam ex paulo nihil tractatos, sed no illud dolore, ut nullam minimum splendide vel. Aeque theophrastus comprehensam ius ad.</p>
            </div> <!-- /.col-lg-9 col-xl-10 -->
            </div> <!-- /.row -->
        </div> <!-- /.col-md-7 col-lg-6 #block1__text -->
        </div> <!-- /.row #block1 -->

        <div class="row" id="block2">
        <div class="col-md-5 col-lg-4 order-lg-2" id="block2__photo">
            <img src="~/content/static/img360.png" alt="">
        </div> <!-- /.col-md-5 #block2__photo -->
        <div class="col-md-7 col-lg-8 order-lg-1" id="block2__text">
            <h2>Edukacja</h2>
            <div id="block2__text__separator"></div>
            <p>TODO: Napisać edukację</p>
            
            <p>Lorem ipsum dolor sit amet, at eam tantas reprimique, quod alienum oporteat his id. Vix id falli regione. Ad eam dicit invidunt inciderint! Cum te modus quidam putant, et mel alia vitae invidunt.</p>
            
            <p>Eu pri hendrerit dissentias delicatissimi, nostro delectus et nam? Ignota abhorreant at pro, mea in adipiscing suscipiantur. Habeo mazim pro eu, error reformidans ne mei? Vocibus efficiendi reprehendunt ex est.</p>
        </div> <!-- /.col-md-7 #block2__text -->
        </div> <!-- /.row #block2 -->

        <div class="row" id="block3">
        <div class="col-md-5 col-lg-4" id="block3__photo">
            <img src="~/content/static/img360.png" alt="">
        </div> <!-- /.col-md-5 col-lg-4 #block3__photo -->
        <div class="col-md-7 col-lg-8" id="block3__text">
            <h2>Doświadczenie zawodowe</h2>
            <div id="block3__text__separator"></div>
            <p>Lorem ipsum dolor sit amet, quod iracundia nam ei. Usu et erroribus tincidunt, vis ne civibus deserunt periculis, id qualisque scribentur per. Vix harum soluta percipitur ad, et est movet quidam omnesque, at inani legimus similique est. Veri iuvaret repudiandae mel id, quo nemore denique ocurreret at.</p>

            <p>Pri quem nibh no, quas elitr constituto pro te, sed vivendo insolens ex. Id eos blandit maluisset quaerendum. Ei eam ignota animal iracundia, nobis electram democritum ex sed, duo putent nonumes expetenda an. Per ne possit nominati torquatos, pri animal accusata eu. Eum cu odio aperiri, et cum duis theophrastus.</p>
        </div> <!-- /.col-md-7 col-lg-8 #block3__text -->
        </div> <!-- /.row #block3-->
    
        <div class="row" id="button-more">
        <div class="text-center mb-4" id="button-more__block">
            <a asp-controller="Portfolio" asp-action="Index" class="btn btn-lg btn__rect" role="button" title="Portfolio">Dowiedz się więcej</a>
        </div> <!-- /#button-more__block -->
        </div> <!-- /.row #button-more -->
    
    </div> <!-- /.container -->