@model IEnumerable<TechnologyTag>

@{
	ViewData["Title"] = "Tomasz Klag";
}

@section styles {
    <link rel="stylesheet" href="https://cdn.rawgit.com/konpa/devicon/df6431e323547add1b4cf45992913f15286456d3/devicon.min.css">
}

<div class="mt-5">
    
        <div class="row" id="block1">
            <div class="col-md-5 col-lg-6" id="block1__photo">
                <img src="~/content/static/Home/cv_image_1.2.jpg" alt="Tomasz Klag">
            </div> <!-- /.col-md-5 .col-lg-6 #block1__photo -->
            <div class="col-md-7 col-lg-6" id="block1__text">
                <div class="row">
                    <div class="col-md-1 col-lg-3 col-xl-2">
                    </div> <!-- /.col-lg-3 col-xl-2 -->
                    <div class="col-md-11 col-lg-9 col-xl-10">
                        <h1>Tomasz Klag</h1>
                        <h2>Tutaj <span class="mark-block">jakieś hasło</span> kluczowe albo cytat.</h2>
                        <p>Jestem osobą kreatywną, dla której <b>nie ma, że się nie da</b>. 
                        Na pierwszym miejscu stawiam <b>ROZWÓJ</b> i nie odpoczywam, dopóki nie osiągnę zamierzonego celu. 
                        Od ponad roku moje „po godzinach” wypełnia kodowanie w języku <b>C#</b> z wykorzystaniem frameworka <b>.NET Core</b>. 
                        W międzyczasie zdążyłem zaprzyjaźnić się również z <b>HTML5</b>, 
                        <b>JavaScript</b>, <b>jQuery</b> <b>CSS3</b>, <b>Bootstrap4</b>. 
                        Ogarniam również diployment aplikacji .NET Core na serwer Linux.</p>
                        <p>W realu – szczęśliwy tata i amator Tatr (bez względu na porę roku). Po mieście najchętniej porusza się rowerem. Uwielbia polską i włoską kuchnię. W planach – kurs pilotażu PPL. Doświadczony wolontariusz SZLACHETNEJ PACZKI z żyłką do organizacji i zarządzania w kryzysie.</p>
                    </div> <!-- /.col-lg-9 col-xl-10 -->
                </div> <!-- /.row -->
            </div> <!-- /.col-md-7 col-lg-6 #block1__text -->
        </div> <!-- /.row #block1 -->

        <div class="row my-5">
            @foreach (var technologyTag in Model)
            {
                <div class="col" data-toggle="tooltip" data-placement="top" title="@technologyTag.Name">
                    <i class="@technologyTag.CssClassName display-3"></i>
                </div>
            }
        </div>

        <div class="row" id="block2">
        <div class="col-md-5 col-lg-4 order-lg-2" id="block2__photo">
            <img src="~/content/static/img360.png" alt="">
        </div> <!-- /.col-md-5 #block2__photo -->
        <div class="col-md-7 col-lg-8 order-lg-1" id="block2__text">
            <h2>Edukacja</h2>
            <div id="block2__text__separator"></div>
            <p>Aktualnie łączę kropki, poszukując wiedzy związanej z programowaniem w Internecie, realizując wybrane kursy programowania dostępne na LinkedIn oraz penetrując tomiszcza Packt’u, O’Reilly i Adama Freemana.</p>
            <p>5 intensywnych lat na Politechnice Krakowskiej (kierunek budownictwo) nauczyło mnie skrupulatności i analitycznego myślenia. Z kolei pierwsze spotkanie z C++ to czas liceum i wertowania „Symfonii C++”.</p>
        </div> <!-- /.col-md-7 #block2__text -->
        </div> <!-- /.row #block2 -->

        <div class="row" id="block3">
        <div class="col-md-5 col-lg-4" id="block3__photo">
            <img src="~/content/static/img360.png" alt="">
        </div> <!-- /.col-md-5 col-lg-4 #block3__photo -->
        <div class="col-md-7 col-lg-8" id="block3__text">
            <h2>Doświadczenie zawodowe</h2>
            <div id="block3__text__separator"></div>
            <p>Jako BIM Specialist w Multimedia Communication łączyłem budownictwo ze światem IT. Czynnie współpracowałem z zespołem programistów, koordynując projekty, dla których dostarczałem niezbędnej wiedzy technicznej.</p> 
            <p>Wcześniej zbierałem rozmaite doświadczenia w: </p>
            <ul>
                <li>biurze konstrukcyjnym firmy Wiśniowski,</li>
                <li>biurze projektowym Lewicki&Łatak,</li>
                <li>oraz jako asystent kierownika budowy w MotaEngil.</li>
            </ul>
        </div> <!-- /.col-md-7 col-lg-8 #block3__text -->
        </div> <!-- /.row #block3-->
    
        <div class="row" id="button-more">
        <div class="text-center mb-4" id="button-more__block">
            <a asp-controller="Portfolio" asp-action="Index" class="btn btn-lg btn__rect" role="button" title="Portfolio">Dowiedz się więcej</a>
        </div> <!-- /#button-more__block -->
        </div> <!-- /.row #button-more -->
    
    </div> <!-- /.container -->

    @section scripts {
    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip();
        });
    </script>
}