@model IEnumerable<PortfolioProject>

@{

}

<h1>Admin panel</h1>

<div>
    <ul>
        @foreach (var portfolioProject in Model)
        {
            <li>
                <a asp-controller="Portfolio" asp-action="Project" asp-route-id="@portfolioProject.Id"> 
                    @portfolioProject.Title
                </a>
                <span>-</span>
                <a asp-controller="Panel" asp-action="Edit" asp-route-id="@portfolioProject.Id"> 
                    Edit
                </a>
                <a asp-controller="Panel" asp-action="Remove" asp-route-id="@portfolioProject.Id"> 
                    Remove
                </a>
            </li>
        }
    </ul>
</div>